/*共用*/
header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #45B39D;

}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Noto Sans TC';
    color: #f9f9f9;
    font-weight: 400;
}

.logoimg a {
    display: block;
    margin: auto;
}

.logoimg img {
    display: inline-block;
}

.rwd-menuBar {
    padding-top: 7px;
}

.registeredStar {
    color: #E74C3C;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: #818181;
    font-family: 'Noto Sans TC';
    font-weight: 400;

}

::-moz-placeholder {
    color: #818181;
    font-family: 'Noto Sans TC';
    font-weight: 400;

}

::-moz-placeholder {
    color: #818181;
    font-family: 'Noto Sans TC';
    font-weight: 400;

}

::-ms-input-placeholder {
    color: #818181;
    font-family: 'Noto Sans TC';
    font-weight: 400;

}

/*燈箱------------------------------------*/
#logoinBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .6);
}

#logoinBox table {
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 0 #e2e2e2;
}

#logoinBox #login-table {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#logoinBox #forgetPsw-table {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#logoinBox #registered-table {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#logoinBox table h1 {
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #E74C3C;
}

#logoinBox table th {
    padding: 8px 4px;
    color: #000;
    font-size: 1.1rem;
    text-align: right;
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #333;
}

#logBox {
    text-align: center;
}

#logoinBox #prompt {
    text-align: center;
}

#logoinBox #login-table #logBox {
    text-align: center;
}

#logoinBox #registeredBtn {
    text-align: center;
}

#logoinBox #forgetPswBtn {
    text-align: center;
}

#registered-table label {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    color: #333;
}

#logoinBox table input[type = "text"] {
    background-color: #E0DFDF;
    color: #12120c;
}

#logoinBox table input[type = "email"] {
    background-color: #E0DFDF;
    color: #12120c;
}

#logoinBox table input[type = "password"] {
    background-color: #E0DFDF;
    color: #12120c;
}

#logoinBox table input[type = "submit"] {
    background-color: #E74c3c;
    color: #fff;
    padding: 2px;
    border-radius: 6px;
    width: 100px;
    transition: .3s;
    font-weight: 600;
    box-shadow: 0 3px 0 #c0392b;
}

#logoinBox table input[type = "button"], #maslibox table input[type = "button"] {
    background-color: #E74c3c;
    color: #fff;
    padding: 2px;
    border-radius: 6px;
    width: 100px;
    transition: .3s;
    font-weight: 600;
    box-shadow: 0 3px 0 #c0392b;
    cursor: pointer
}

#logoinBox table input[type = "submit"]:hover {
    background-color: #ffa500;
    box-shadow: 0 3px 0 #f28602;
    transition: .3s;
    cursor: pointer
}

#logoinBox table input[type = "button"]:hover {
    background-color: #ffa500;
    box-shadow: 0 3px 0 #f28602;
    transition: .3s;
}

#logoinBox table input[type = "radio"] {
    width: 5%;
    height: 15px;
    vertical-align: middle
}

#logoinBox table #unloginBtn {
    background-color: #ACD0E6;
    box-shadow: 0 3px 0 #97BBD0;
}

#logoinBox table #untableBtn {
    background-color: #ACD0E6;
    box-shadow: 0 3px 0 #97BBD0;
}

#logoinBox table #untableBtn2 {
    background-color: #ACD0E6;
    box-shadow: 0 3px 0 #97BBD0;
}

#forgetPsw-table span {
    display: inline-block;
    position: relative;
}

#logoinBox #login-table #forgetPswLink {
    font-size: 10px;
    font-weight: 400;
    color: #515151;
}

#logoinBox #login-table #registeredLink {
    font-size: 1.1rem;
    padding-left: 2px;
    font-weight: 400;
    color: #515151;
}

/*燈箱 End*/

/*xs = 手機以下*/
@media screen and (max-width: 767px) {
    #logoinBox table .secondBtn {
        margin-left: 4vh;
    }

    header {
        height: 65px;
        z-index: 6;
        transition: .5s;
    }

    header a {
        font-size: 6vw;
    }

    .logoimg {
        max-height: 65px;
        line-height: 98px;
        text-align: left;
    }

    .logoimg img {
        width: auto;
        max-height: 65px;
    }

    .logoimg a {
        max-height: 65px;
    }

    #rwd-header-Menu {
        height: 0;
        z-index: 8;
    }

    .clear-header {
        width: 100%;
        min-height: 64px;
    }

    .header-menuBar {
        display: none;
    }

    .rwd-menuBar {
        position: fixed;
        left: -100%;
        top: 65px;
        height: 100vh;
        background-color: #23A087;
        z-index: 5;
        transition: .5s;
    }

    /*點螢幕 close rwd menu*/
    #closeRwdMenu {
        position: absolute;
        top: 0;
        right: -71%;
        width: 71%;
        height: 100vh;
        background-color: transparent;
    }

    .rwd-header-mainMenu a {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
    }

    .rwd-header-mainMenu li {
        padding-bottom: 10px;
        position: relative;
        /*border-bottom:1px solid  #45B39D;*/
    }

    .rwd-header-mainMenu li:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #55b59d;
    }

    .rwd-header-timesMenu a {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
    }

    .rwd-header-timesMenu li {
        padding-bottom: 10px;
        position: relative;

        /* border-bottom:1px solid  #45B39D;*/
    }

    .rwd-header-timesMenu li:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #55b59d;
    }

    #rwd-menuBtn {
        position: fixed;
        top: -100%;
        opacity: 0;
        z-index: 4;
    }

    .rwd-menuIcon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .rwd-menuIcon span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .menuIcon-line1 {
        transform: rotateZ(0deg) translateY(-10px);
        transition: .5s;
    }

    .menuIcon-line2 {
        opacity: 1;
        transition: .3s;
    }

    .menuIcon-line3 {
        transform: rotateZ(0deg) translateY(10px);
        transition: .5s;
    }

    #rwd-menuBtn:checked ~ .rwd-menuBar {
        left: 0;
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line1 {
        transform: rotateZ(-405deg) translateY(0px);
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line2 {
        opacity: 0;
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line3 {
        transform: rotateZ(405deg) translateY(0px);
    }

    /*rwd會員中心次選單*/
    #rwdMember a {
        bottom: 0;
    }

    #rwdMember li {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
        font-size: 6vw;
        color: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 24px;
        font-family: 'Noto Sans TC';
        color: #f9f9f9;
        font-weight: 400;
    }

    #rwdMember {
        position: relative;
    }

    /*#memberSubmenu{ padding-bottom: 10px;*/
    /*background-color: #006759;*/
    /*text-align: right;*/
    /*}*/
    /*#memberSubmenu a{width:57%;*/
    /*display: inline-block;*/
    /*text-align: left;}*/
    #unfolded {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #unfolded span {
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    #unfolded #unfoldedLine2 {
        transform: rotateZ(90deg);
    }

    /*燈箱*/
    #logoinBox table, #maslibox table {
        width: 90%;
        height: 60vh;
    }

    #logoinBox table input, #maslibox table input {
        border: 0;
        width: 90%;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        /*margin:1% auto;*/
        padding-left: 3px;
    }

    #registered-table th {
        width: 80px;
    }

    .forgetPswBox {
        width: 90%;
        text-align: right;
    }

    #forgetPsw-table span {
        width: 94%;
        text-align: left;
    }

    #forgetPsw-table span:before {
        content: "※";
        position: absolute;
        left: -15px;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {

    #logoinBox table .secondBtn {
        margin-left: 4vh;
    }

    header {
        height: 65px;
        z-index: 6;
        transition: .5s;
    }

    header a {
        font-size: 4vw;
    }

    .logoimg {
        height: 65px;
        line-height: 98px;
        text-align: left;
    }

    .logoimg a {
        max-height: 65px;
        margin-left: 15px;
    }

    .logoimg img {
        width: auto;
        max-height: 65px
    }

    .rwd-header-Menu {
        z-index: 8;
    }

    .clear-header {
        width: 100%;
        min-height: 64px;
    }

    .header-menuBar {
        display: none;
    }

    .rwd-menuBar {
        position: fixed;
        left: -100%;
        height: 100vh;
        background-color: #23A087;
        z-index: 5;
        transition: .5s;
    }

    .rwd-header-mainMenu a {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
    }

    .rwd-header-mainMenu li {
        padding-bottom: 10px;
        position: relative;
        /*border-bottom:1px solid  #45B39D;*/
    }

    .rwd-header-mainMenu li:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #55b59d;
    }

    .rwd-header-timesMenu a {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
    }

    .rwd-header-timesMenu li {
        padding-bottom: 10px;
        position: relative;
        /* border-bottom:1px solid  #45B39D;*/
    }

    .rwd-header-timesMenu li:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #55b59d;
    }

    #rwd-menuBtn {
        position: fixed;
        top: -100%;
        opacity: 0;
        z-index: 4;
    }

    /*點螢幕 close rwd menu*/
    #closeRwdMenu {
        position: absolute;
        top: 0;
        right: -140%;
        width: 140%;
        height: 100vh;
        background-color: transparent;
    }

    .rwd-menuIcon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .rwd-menuIcon span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .menuIcon-line1 {
        transform: rotateZ(0deg) translateY(-10px);
        transition: .5s;
    }

    .menuIcon-line2 {
        opacity: 1;
        transition: .3s;
    }

    .menuIcon-line3 {
        transform: rotateZ(0deg) translateY(10px);
        transition: .5s;
    }

    #rwd-menuBtn:checked ~ .rwd-menuBar {
        left: 0;
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line1 {
        transform: rotateZ(-405deg) translateY(0px);
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line2 {
        opacity: 0;
    }

    #rwd-menuBtn:checked ~ label .menuIcon-line3 {
        transform: rotateZ(405deg) translateY(0px);
    }

    /*rwd會員中心次選單*/
    #rwdMemberr {
        border-bottom: 1px solid #fff;
    }

    #rwdMember a {
        bottom: 0;
    }

    #rwdMember li {
        text-align: center;
        padding-top: 10px;
        display: block;
        box-sizing: border-box;
        font-size: 6vw;
        color: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #rwdMember {
        position: relative;
    }

    /*#memberSubmenu{ padding-bottom: 10px;
                    text-align: right;
                    }
    #memberSubmenu a{width:53%;
                     display: inline-block;
                     text-align: left;}*/
    #unfolded {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    #unfolded span {
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    #unfolded #unfoldedLine2 {
        transform: rotateZ(90deg);
    }

    /*燈箱*/
    #logoinBox table, #maslibox table {
        width: 500px;
        height: 400px;
    }

    #logoinBox table input, #maslibox table input {
        border: 0;
        width: 80%;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        /*margin:1% auto;*/
        padding-left: 3px;
    }

    #registered-table th {
        width: 100px;
    }

    .forgetPswBox {
        width: 80%;
        text-align: right;
    }

    #forgetPsw-table span {
        width: 100%;
        text-align: center;
    }

    #forgetPsw-table span:before {
        content: "※";
        position: relative;
    }

}

/*lg 電腦*/
@media screen and (min-width: 1200px) {

    header a #loginImg11 {
        width: 0;
    }

    #maslibox {
        overflow-y: auto;

        position: relative;
        width: 500px;
        height: 50vh;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 3px 0 #ccc;
        top: 10px;
        right: -25vw;
        margin: auto;
    }

    #logoinBox table .secondBtn {
        margin-left: 4vh;
    }

    #maslibox table {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
        line-height: 5vh;
        font-size: 1.3rem;
    }

    #maslibox table tr:first-child th:first-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    #maslibox table tr {
        width: 100%;

    }

    #maslibox table tr th {
        padding: 10px;
        width: 100%;
        background: #45B39D;
        font-family: 'Noto Sans TC';
        font-weight: 700;
        color: #fff;

    }

    #maslibox td {
        padding: 10px;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        color: #515151;
        box-sizing: border-box;
    }

    #maslibox .annTime {
        width: 25%;
        font-size: 1rem;
        color: #7f7f7f;
    }

    #maslibox .annText {
        width: 75%;
        font-size: 1.3rem;
    }

    #maslibox img {
        width: 60px;
        vertical-align: middle;
        border-radius: 50%

    }

    #maslibox .msginfo {
        width: 70%;
        font-family: 'Noto Sans TC';
        font-weight: 400;
        text-align: left;
        font-size: 1.1rem;
        position: relative;
    }

    #maslibox p {
        position: absolute;
        padding: 0px;
        line-height: 25px;
        top: 2;
    }

    #maslibox #mas-talbe #msginput {
        width: 130px;
        padding: 20px 10px;
        line-height: 3px;
        font-family: 'Noto Sans TC';
        font-weight: 700;
    }

    #maslibox table input[type = "button"]:hover {
        background-color: #ffa500;
        box-shadow: 0 3px 0 #f28602;
        transition: .3s;
    }

    header {
        height: 80px;
    }

    header a {
        font-size: 24px;
    }

    .logoimg {
        max-height: 80px;
        line-height: 110px;
        text-align: left;
        box-sizing: border-box;
    }

    .logoimg img {
        width: auto;
        max-height: 80px;
    }

    .logoimg a {
        max-height: 80px;
        margin-left: 15px;
    }

    .clear-header {
        width: 100%;
        min-height: 77px;
    }

    #rwd-header-Menu {
        display: none;
    }

    .rwd-header-Menu {
        display: none;
    }

    .header-mainMenu {
        text-align: center;
        display: inline-block;
        height: 80px;
        line-height: 80px;
    }

    .header-mainMenu li {
        display: inline-block;
        transition: .3s;
    }

    .header-mainMenu a {
        margin: 0 1vw;
        position: relative;
        padding: .3vw;
    }

    .header-mainMenu a span {
        background-color: #fff;
        position: absolute;
    }

    .header-mainMenu a .top {
        width: 0px;
        height: 2px;
        top: 0;
        right: 0;
        transition: .5s;
    }

    .header-mainMenu a .right {
        width: 2px;
        height: 0px;
        right: 0;
        top: 0;
        transition: .5s;
    }

    .header-mainMenu a .bottom {
        width: 0px;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: .5s;
    }

    .header-mainMenu a .left {
        width: 2px;
        height: 0px;
        bottom: 0;
        left: 0;
        transition: .5s;
    }

    /*menu線條事件*/
    .header-mainMenu a .fixedTop {
        width: 30px;
        height: 2px;
        top: 0;
        right: 0;
    }

    .header-mainMenu a .fixedRight {
        width: 2px;
        height: 20px;;
        top: 0;
        right: 0;
    }

    .header-mainMenu a .fixedBottom {
        width: 30px;
        height: 2px;
        bottom: 0;
        left: 0;
    }

    .header-mainMenu a .fixedLeft {
        width: 2px;
        height: 20px;;
        bottom: 0;
        left: 0;
    }

    .header-mainMenu a:hover .top {
        width: 30px;
    }

    .header-mainMenu a:hover .right {
        height: 20px;
    }

    .header-mainMenu a:hover .bottom {
        width: 30px;
    }

    .header-mainMenu a:hover .left {
        height: 20px;
    }

    .header-mainMenu a:hover li {
        position: relative;
        top: 1px;
        left: 1px;
    }

    .header-timesMenu {
        text-align: right;
        display: inline-block;
        height: 80px;
        line-height: 80px;
    }

    .header-timesMenu li {
        display: inline-block;
        transition: .3s;
    }

    .header-timesMenu a {
        margin: 0 10px;
        position: relative;
        padding: 5px;
    }

    .header-timesMenu a span {
        background-color: #fff;
        position: absolute;
    }

    .header-timesMenu #memName {
        font-size: 2rem;
    }

    .header-timesMenu a img {
        display: inline-block;
        max-width: 26px;
        border-radius: 50%;
        height: auto;
        vertical-align: sub;
    }

    .header-timesMenu a .top {
        width: 0px;
        height: 2px;
        top: 0;
        right: 0;
        transition: .5s;
    }

    .header-timesMenu a .right {
        width: 2px;
        height: 0px;
        right: 0;
        top: 0;
        transition: .5s;
    }

    .header-timesMenu a .bottom {
        width: 0px;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: .5s;
    }

    .header-timesMenu a .left {
        width: 2px;
        height: 0px;
        bottom: 0;
        left: 0;
        transition: .5s;
    }

    .header-timesMenu a .fixedTop {
        width: 20px;
        height: 2px;
        top: 0;
        right: 0;
    }

    .header-timesMenu a .fixedRight {
        width: 2px;
        height: 10px;;
        top: 0;
        right: 0;
    }

    .header-timesMenu a .fixedBottom {
        width: 20px;
        height: 2px;
        bottom: 0;
        left: 0;
    }

    .header-timesMenu a .fixedLeft {
        width: 2px;
        height: 10px;;
        bottom: 0;
        left: 0;
    }

    .header-timesMenu a:hover .top {
        width: 20px;
    }

    .header-timesMenu a:hover .right {
        height: 10px;
    }

    .header-timesMenu a:hover .bottom {
        width: 20px;
    }

    .header-timesMenu a:hover .left {
        height: 10px;
    }

    .header-timesMenu a:hover li {
        position: relative;
        top: 1px;
        left: 1px;
    }

    /*燈箱*/
    #logoinBox table {
        width: 500px;
        height: 400px;
    }

    #logoinBox table input, #maslibox table input {
        border: 0;
        width: 80%;
        height: 30px;
        border-radius: 5px;
        font-size: 16px;
        /* margin:1% auto;*/
        padding-left: 3px;
    }

    #registered-table th {
        width: 100px;
    }

    .forgetPswBox {
        width: 80%;
        text-align: right;
    }

    #forgetPsw-table span {
        width: 100%;
        text-align: center;
    }

    #forgetPsw-table span:before {
        content: "※";
        position: relative;
    }
}